.MoviesCard {
  margin: 0;
  position: relative;
  max-width: 364px;
  margin: 0 auto;
  background-color: rgba(34, 34, 34, 1);
}

@media screen and (max-width: 1279px) {
  .MoviesCard {
    max-width: 339px;
  }
}

@media screen and (max-width: 680px) {
  .MoviesCard {
    max-width: 300px;
  }
}
