.NavigationMovies__account-button {
  transition: opacity 0.5s;
}

.NavigationMovies__account-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .NavigationMovies__account-button {
    display: none;
  }
}