.NavigationMovies__button {
  margin: 0 16px 0 0;
  padding: 0;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  transition: opacity 0.5s;
}

.NavigationMovies__button:last-child{
  margin: 0;
}

.NavigationMovies__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .NavigationMovies__button {
    display: none;
  }
}