.Profile__input {
  margin: 0;
  padding: 0;
  width: 80%;
  box-sizing: border-box;
  background-color: transparent;
  text-align: right;
  color: #fff;
  border: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
}




