.SearchForm__container {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .SearchForm__container {
    min-height: 72px;
    border-radius: 9px;
    background-color: rgba(47, 47, 47, 1);
  }
}