.SearchForm__input-movie {
  margin: 0 0 0 10px;
  min-width: calc(100% - 200px);
  padding: 0;
  height: 27px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.SearchForm__input-movie:focus {
  outline: 0;
}

@media screen and (max-width: 680px) {
  .SearchForm__input-movie {
    margin: 0;
  }
}


@media screen and (max-width: 480px) {
  .SearchForm__input-movie {
    width: 180px
  }
}