.SearchForm__hr {
  margin: 69px 0 0;
  padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid rgba(66, 66, 66, 1);
}

@media screen and (max-width: 1024px) {
  .SearchForm__hr {
		margin: 109px 0 0;
  }
}