.Footer__links-container {
  margin-right: 70px;
}

@media screen and (max-width: 680px) {
  .Footer__links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-right: 0;
  }
}