.NavTab__button {
  box-sizing: border-box;
  width: 96px;
  height: 36px;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
  background:rgba(48, 48, 48, 1);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: opacity 0.5s;
}

.NavTab__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.NavTab__button:last-child {
  margin: 0;
}

@media screen and (max-width: 680px) {
  .NavTab__button {
    width: 82px;
    height: 26px;
    margin: 0 6px 0 0;
  }
}

